!!!
%html
  %head
    %title Riverside Ruby
    %link{:rel=>'stylesheet', :href=>'/css/stylesheet.css', :type => "text/css"} 
    / / javascripts
    / %script{:type => "text/javascript", :src  => "/javascripts/jquery.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/sammy.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/scroll_to.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/localscroll.js"}
    / %script{:type => "text/javascript", :src  => "/javascripts/index.js"}
  %body
    #header
      #logo
      #menu-wrapper
        #menu
          Testing
    
    #container
      #app
    #footer